In [1]:
!ls

HW_w1.py
Untitled.ipynb
green_tripdata_2019-01.csv
green_tripdata_2019-01.csv.gz
homework.md
taxi+_zone_lookup.csv

In [ ]:
!pip install pandas
!pip install sqlalchemy

In [20]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [18]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [19]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.48 s
Wall time: 9.21 s

1000

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!curl https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

# Green df

In [35]:
!gzip -d -k green_tripdata_2019-01.csv.gz

In [103]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [39]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [40]:
print(pd.io.sql.get_schema(df, name='green_tripdata_data', con=engine))

CREATE TABLE green_tripdata_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [41]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [45]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)
df = next(df_iter)

In [46]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [47]:
df.head(n=0).to_sql(name='green_tripdata_data', con=engine, if_exists='replace')

0

In [48]:
%time df.to_sql(name='green_tripdata_data', con=engine, if_exists='append')

CPU times: total: 4 s
Wall time: 12.8 s

1000

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [53]:
query = """
SELECT count(*)
FROM green_tripdata_data
WHERE lpep_pickup_datetime > '2019-01-15 00:00:01'
and lpep_dropoff_datetime < '2019-01-15 23:59:59'
"""

pd.read_sql(query, con=engine)

   count
0  20530

In [55]:
l=['2019-01-18',
'2019-01-28',
'2019-01-15',
'2019-01-10']
for i in l:
    query = """
    SELECT max(trip_distance)
    FROM green_tripdata_data
    WHERE lpep_pickup_datetime > '"""+i+""" 00:00:01'
    and lpep_pickup_datetime < '"""+i+""" 23:59:59'
    """
    print(pd.read_sql(query, con=engine))

     max
0  80.96
     max
0  64.27
      max
0  117.99
    max
0  None

In [63]:
query = """
SELECT lpep_pickup_datetime::date, max(trip_distance)
FROM green_tripdata_data
WHERE lpep_pickup_datetime::date in ('2019-01-18','2019-01-28','2019-01-15','2019-01-10')
GROUP BY lpep_pickup_datetime::date
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime     max
0           2019-01-18   80.96
1           2019-01-15  117.99
2           2019-01-28   64.27

In [74]:
query = """
SELECT passenger_count, count(passenger_count)
FROM green_tripdata_data
WHERE lpep_pickup_datetime::date in ('2019-01-01')
AND passenger_count not in (0,1,4,5,6)
GROUP BY passenger_count
"""

pd.read_sql(query, con=engine)

   passenger_count  count
0                2   1282
1                3    254

## Для последнего задания добавим новый датасет

In [109]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [111]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [77]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [78]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)
df = next(df_iter)

In [79]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [80]:
%time df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 60.9 ms

265

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)
    
    df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [93]:
df.loc[df['Zone'] == 'Astoria']

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [102]:
query = """
SELECT *
FROM green_tripdata_data
where PULocationID= 7
"""

pd.read_sql(query, con=engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "pulocationid" does not exist
LINE 4: where PULocationID= 7
              ^

[SQL:
SELECT *
FROM green_tripdata_data
where PULocationID= 7
]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [106]:
df = df.loc[df['PULocationID'] == 7]
df = df.loc[df['tip_amount'] == df['tip_amount'].max()]
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
506162,2,2019-01-26 00:46:06,2019-01-26 00:50:10,N,1,7,146,1,0.92,5.5,0.5,0.5,88.0,0.0,NaN,0.3,94.8,1,1,NaN

In [113]:
df.loc[df['LocationID'] == 146]

     LocationID Borough                           Zone service_zone
145         146  Queens  Long Island City/Queens Plaza    Boro Zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]